<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="emp" class="com.Entity.Employee">
		<property name="eid" value="101"></property>
		<property name="ename" value="tara"></property>
		<property name="esalary" value="34000"></property>
	</bean>
	
	<bean id="dept" class="com.Entity.Department">
		<property name="departmentCode" value="102"></property>
		<property name="departmentName" value="COmputer"></property>
	</bean>
	
	<bean id="cmp" class="com.Entity.Company">
		<property name="companyCode" value="103"></property>
		<property name="componyName" value="Exponent"></property>
	</bean>


</beans>